@import '../../vars.scss';

.sidenav {
    justify-content: center;
    flex-direction: column;
    .profile {
        text-align: center;
        .logo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .title { color: white; text-align: center; font-size: 20px; margin: 0; }
        .email { color: white; text-align: center; font-size: 17px; margin: 0; opacity: .5; }
    }
    .nav-links {
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 40px;
        li { 
            a {
                color: white;
                font-size: 18px;
                text-decoration: none;
                padding: 15px; 
                opacity: .5;
                display: block;
            }
            a:hover, .active { background-color: #4a66d2; opacity: 1; font-weight: 600; }
        }
    }
}