/* colors vars */
$primary-blue: #5B7CFD;
$primary-green: #33CC86;
$primary-red: #FF7F57;
$primary-orange: #FFAE33;
$primary-yellow: #FFCF27;
$lt-yellow: #FBE691;
$lt-blue: #DEE5FF;
$lt-green: #CDF5F4;
$lt-red: #FFE5EE;
$lt-blue2: #D8E0FE;
$nt-black: #232D42;
$nt-bg1: #8A92A6;
$nt-bg2: #737B8B;
$nt-bg3: #E7EEF7;
$nt-bg4: #E3E5E8;
$nt-bg5: #929292;